.header {
 height: 55px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 background-color: #fff;
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color:#cccccc;
 z-index: 100;
}
.left-section {
 display: flex;
 align-items: center;

}
.hamburger-menu {
 height: 24px;
 margin-left: 24px;
 margin-right: 24px;
}
.youtube-logo {
 height: 20px;
}
.middle-section {
 flex: 1;
 margin-left: 70px;
 margin-right: 35px;
 max-width: 700px;
 display: flex;
 align-items: center;
}
.search-bar {
 flex: 1;
 height: 36px;
 border: 1px solid #cccccc;
 border-radius: 2px;
 box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
 width: 0;
}
.search-bar::placeholder {
 font-family: roboto, arial;
 font-size: 16px;
 padding-left: 10px;
}
.search-button {
 width: 66px;
 height: 39px;
 border: 1px solid #cccccc;
 border-radius: 2px;
 margin-left: -1px;
 position: relative;
}
.search-icon {
 height: 25px;
 margin-top: 2px;
 /* width: 0; */
} 
.voice-search-button {
 width: 40px;
 height: 40px;
 border-radius: 50px;
 border-width: 0;
 margin-left: 10px;
}
.voice-search-icon {
 height: 22px;
 margin-top: 2px;
}
.right-section {
 width: 200px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 flex-shrink: 0;
}
.upload-icon {
 height: 24px;
}
.youtube-apps-icon {
 height: 24px;
}
.notifications-icon {
 height: 24px;
}
.notifications-icon-container {
 position: relative;
}
.notifications-counts {
 background-color:#dc3545;;
 color: white;
 font-family: roboto, arial;
 font-size: 11px;
 padding: 2px 6px;
 position: absolute;
 top: -2px;
 right: -5px;
 border-radius: 10px;
}
.hanuman-chennal {
 border-radius: 50px;
 height: 32px;
 margin-right: 20px;
}

